@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin:0;
    padding: 0;
}
:root{
    --color-1:#f4f8fb;
    --color-2:#b0c4de;
    --color-3:#4682b4;
    --color-4:#5a9bd3;
    --color-5:#eaf0f6;
    --color-6:#333;
    --color-7:#FFFFFF;
    --color-8:#f0f8ff;
    --color-9:#000000;
    --color-10:#555;
    --color-11:#d4edda;
    --color-12:#c3e6cb;
    --color-13:#155724 ; 
    --color-14:#666;
    --color-15:#ddd;
    --font-family-1: 'Playfair Display', serif;

}
body {
    font-family: var(--font-family-1);
    background-color:var(--color-1);
    color:var(--color-6);
}

header {
    background-color: #b0c4de;
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header_menu_nav{
    font-size: 2 rem;
    color: var(--color-6);
    text-decoration:none;
    cursor: pointer;
}
ul{
    display: flex;
    list-style-type: none;
    gap:20px;
}
.btn {
    background-color: #4682b4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5a9bd3;
}

section {
    padding: 20px;
    margin: 20px;
}

#introducao {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: #eaf0f6;
    border-radius: 10px;
    padding: 20px;
}

.profile-photo {
    width: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para Galeria de Vídeos */
#pilulas {
    text-align: center;
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 20px;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.video-item {
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

video {
    width: 100%;
    border-radius: 8px;
}

.video-item p {
    margin: 10px 0 0;
    font-weight: bold;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #b0c4de;
    color: white;
    position: relative;
}

